<div class='div-main-container'>
  <div class='div-title'>WHO daily reports from https://covid190api.herokuapp.com/api/data
  </div>
  <div class='div-busy-indicator' [hidden]='isLoading'>
    Loading...
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div>LastUpdated: {{lastUpdated | date:'longDate'}}</div>
  <mat-tab-group>
    <mat-tab label="Table">
      <app-covid-table></app-covid-table>
    </mat-tab>
    <mat-tab label="Graph">
      <app-graphs-view></app-graphs-view>
    </mat-tab>
  </mat-tab-group>

</div>