.div-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.linkActive {
  color: red;
  font-style: italic;
}

.navbar {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.toolbar-title {
  font-size: small;
  margin: 0 5px;
}

.div-title {
  color: white;
  opacity: 0.86;
}

.div-router-outlet {
  flex: 1;
  overflow: auto;
}

.div-footer {
  height: auto;
  background-color: #363636;
  color: white;
  opacity: 0.86;
}
