<div class='div-main-container'>
  <mat-toolbar color='primary' class='navbar'>
    <div class='toolbar-title'>WHO COVID-19 {{lastUpdated | date:'longDate'}}</div>
    <div>
      <a mat-button routerLink='/table' routerLinkActive="active">
        <mat-icon> table_chart</mat-icon>
      </a>
      <a mat-button routerLink="/graph" routerLinkActive="active">
        <mat-icon> show_chart</mat-icon>
      </a>
    </div>
  </mat-toolbar>
  <div class='div-router-outlet'>
    <router-outlet></router-outlet>
  </div>

  <!-- <div class='div-title'>WHO daily reports from https://covid19.pillious.now.sh/api/data -->