<div class='div-covidtable-container'>
    <div class='div-table'>
        <table class='fixed_header'>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Cases</td>
                    <td>New Cases</td>
                    <td>Deaths</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data">
                    <td>{{item.name}}</td>
                    <td>{{item.cases}}</td>
                    <td>{{item.newCases}}</td>
                    <td>{{item.deaths}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>